@import "@/assets/css/mixin.scss";

page {
  @include linear-gradient(#ffffff, #f5f5f5);
}
.pay-success-wrapper {
  overflow-x: hidden;
  padding: 123px 0 20px;
  .discounts-pay-title {
    margin: 0 30px 50px;
    @include font-style(28px, #000);
  }
  .pay-success-top {
    @include flex-center(column);
    & > text {
      @include font-style(28px, #000);
    }
    .padding {
      padding-top: 20px;
    }
    .place {
      padding-top: 20px;
      @include font-style(28px, #000, bold);
      text {
        font-size: 48px;
      }
    }
  }
  .payee-container {
    margin: 30px 50px 20px;
    width: initial;
    .at-col {
      @include font-style(28px, #848484);
      display: flex;
      flex-direction: column;
      text {
        @include font-style(28px, #000, bold);
        padding-top: 10px;
      }
      &.left {
        align-items: flex-start;
      }
      &.right {
        align-items: flex-end;
      }
    }
  }
  .payment-methods {
    @include font-style(28px, #848484);
    padding: 20px 0;
    margin: 0 50px;
    display: flex;
    border-bottom: 1px solid #e4e4e4;
    text {
      flex: 1;
      @include flex-center(row, flex-end);
    }
  }
  .discount-coupon-container {
    text-align: center;
    padding: 20px 50px 0;
    text {
      display: block;
    }
    .caption {
      @include font-style(20px, #848484);
    }
    .title {
      @include font-style(28px, #e0004e, bold);
    }
    .coupon-list {
      margin-top: 20px;
      min-height: 290px;
      //选取礼券
      .coupon-list-item {
        padding: 0 12px;
        & > view {
          background: #e4e4e4;
          border-radius: 20px;
          padding: 20px 0;
          @include flex-center(column);
          text {
            @include font-style(24px, #434343);
          }
          .type {
            font-size: 28px;
          }
          .content {
            height: 70px;
            margin: 23px 0 15px;
            .caption {
              font-weight: bold;
            }
          }
          .btn {
            width: 100px;
            height: 40px;
            line-height: 40px;
            background: #e0004e;
            border: none;
            @include font-style(24px, #fff);
          }
        }
      }
      //福利选取成功
      .coupon-list-welfare {
        width: 100%;
        .content {
          padding: 20px 50px;
          height: 190px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
          background: #d3d3d3;
          border-radius: 20px;
          .sale {
            @include font-style(80px, #157c6f, bold);
            @include flex-center(row, null);
            text {
              font-size: 40px;
            }
            .font-80 {
              font-size: 80px;
            }
          }
          .ticket {
            .at-col {
              flex: 0 1;
            }
            .right {
              margin-left: 10px;
              @include font-style(20px, #000);
              text {
                text-align: left;
              }
              .ticket-title {
                font-size: 24px;
              }
              .ticket-desc {
                color: #848484;
              }
            }
          }
        }
        .check {
          @include font-style(24px, #229e8e);
          margin-top: 30px;
        }
      }
    }
  }
  .pay-success-bottom {
    margin: 20px 20px 120px;
    @include flex-center(column);
    .advertsement-circle {
      width: 100%;
      height: 150px;
      border-radius: 75px;
      overflow: hidden;
      margin-bottom: 30px;
      image {
        width: 100%;
        height: 100%;
      }
    }
    .btn {
      width: 176px;
      height: 60px;
      line-height: 60px;
      border: 2px solid #434343;
      @include font-style(28px, #434343, bold);
    }
  }
}
