@import "@/assets/css/mixin.scss";

.order-detail-prompt {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .3);
  flex-direction: column;

  .order-detail-prompt_main {
    width: 100%;
    height: 800px;
    margin-bottom: 40px;
    border-radius: 40px;
    text-align: center;
    background-color: #FDD000;
    @include font-style(28px, #000000, bold);

    .title{
      padding: 60px 0 138px;
    }

    .qr-code {
      width: 330px;
    }
  }
}
