@import "@/assets/css/mixin.scss";

.experience-search {
  position: relative;
  min-height: 100%;

  .search-container {
    background: initial;
    margin-top: 40px;

    .at-search-bar__input-cnt {
      height: 70px;
      background: linear-gradient(left, #e5e5e5, #e0e0e0);

      .at-search-bar__input,
      .at-search-bar__placeholder-wrap,
      .at-search-bar__clear {
        height: 70px !important;
      }

      .at-search-bar__placeholder-wrap .at-icon {
        font-size: 36px;
      }
    }

    .at-search-bar__action {
      background-color: #229e8e;
    }
  }

  .store-container {
    position: relative;
    margin: 30px 50px;
    width: initial;

    .right-icon {
      position: absolute;
      right: 0;
      top: 20px;

      image {
        width: 60px;
        height: 60px;
      }
    }

    .store-caption {
      margin: 30px 0 30px;
      @include flex-center(row, null, center);

      .at-avatar {
        width: 80px;
        height: 80px;
        line-height: initial;
        border-radius: 20px;
      }

      & > view {
        margin-left: 10px;

        text {
          @include font-style(28px, #000);
          display: block;
          line-height: 35px;

          &:nth-child(2) {
            font-size: 24px;
          }
        }
      }
    }

    .store-detail {
      background: linear-gradient(
        left,
        #d3d3d3,
        #e5e5e5,
        #eaeaea,
        #dedede,
        #c7c7c7
      );
      border-radius: 20px;
      @include flex-center(row, flex-top, flex-top);
      padding: 25px;
      position: relative;

      &::before {
        content: "";
        border-left: 16px transparent solid;
        border-right: 16px transparent solid;
        border-bottom: 24px #d3d3d3 solid;
        position: absolute;
        top: -22px;
      }

      .tag {
        margin-right: 32px;
      }

      .store-content {
        @include flex-center(column, null, null);
        @include font-style(24px);
        flex: 1;

        .icon {
          margin-right: 10px;
          line-height: 36px;
        }
      }

      .store-extra {
        position: relative;

        .icon {
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
        }
      }
    }
  }

  .tag-group {
    margin: 20px 0 74px;
    .at-tag {
      border: 1px solid #c3c3c3;
      min-width: 211px;
      margin-right: 20px;
      @include font-style(24px, #848484);
    }
  }

  .history {
    .history-title {
      @include flex-center(row, center, null);
      text {
        @include font-style(28px, #000);
        flex: auto;
      }
    }
  }

  .button-container {
    width: 100%;
    position: absolute;
    bottom: 79px;
    left: 0;
    @include flex-center(column, center, center);
    .icon {
      color: rgba(0, 0, 0, 0.5) !important;
    }
  }
}
