@import "@/assets/css/mixin.scss";

.experience-nav-components {
  padding: 33px 30px 60px;
  box-sizing: border-box;

  .item {
    height: 210px;
    margin-right: 40px;

    .item-box {
      width: 130px;
      height: 130px;
      border-radius: 30px;
      overflow: hidden;
      background: linear-gradient(#d5d5d5, #e0e0e0, #d1d1d1, #bfbfbf);
    }


    .icon-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 130px;
    }

    .tit,
    .num {
      text-align: center;
      @include font-style(20px, #fff, bold);
      line-height: 32px;
    }

    &.active {

      .item-box {
        height: 100%;
        transition: all .3s;
      }

      .item-box-experience-01 {
        background: linear-gradient(#821D82, #C64122);
      }

      .item-box-experience-02 {
        background: linear-gradient(#7900E9, #910FF0, #A81DF8, #B726FD, #BC2AFF);
      }

      .item-box-experience-03 {
        background: linear-gradient(#FF8500, #FFB000);
      }
      .item-box-interact-01 {
        background: linear-gradient(#f12711, #f5af19);
      }

      .item-box-interact-02 {
        background: linear-gradient(#11F1C0, #3019F5);
      }

      .item-box-interact-03 {
        background: linear-gradient(#FF8500, #FFB000);
      }
    }
  }
}
